[package]
name = "stateless-block-verifier"
version = "0.1.0"
edition = "2021"

[dependencies]
hex = "0.4"
itertools = "0.13.0" # for compatibility msrv 1.75
rkyv = { version = "0.7", features = ["validation"] }
thiserror = "1.0"
tiny-keccak = "2.0"
getrandom = { version = "*", features = ["custom"] } # just for disable

# dependencies from scroll-tech
eth-types = { git = "https://github.com/scroll-tech/zkevm-circuits", features = ["scroll"], branch = "feat/sp1" }
mpt-zktrie = { git = "https://github.com/scroll-tech/zkevm-circuits", branch = "feat/sp1" }
zktrie = { git = "https://github.com/scroll-tech/zktrie.git", branch = "main", features= ["rs_zktrie"] }

# for local development
# eth-types = { path = "../zkevm-circuits/eth-types", features = ["scroll"] }
# mpt-zktrie = { path = "../zkevm-circuits/zktrie" }
# revm = {path = "../revm/crates/revm", default-features = false, features = ["scroll-default-handler", "std", "optional_no_base_fee"] } # v40
# zktrie = { path = "../zktrie", features= ["rs_zktrie"] }


# binary dependencies
anyhow = { version = "1.0", optional = true }
async-channel = { version = "2.2", optional = true }
clap = { version = "4", optional = true }
env_logger = { version = "0.9", optional = true }
ethers-core = { git = "https://github.com/scroll-tech/ethers-rs.git", branch = "feat/rkyv", optional = true }
ethers-providers = { git = "https://github.com/scroll-tech/ethers-rs.git", branch = "feat/rkyv", default-features = false, optional = true }
futures = { version = "0.3", optional = true }
serde_json = { version = "1.0", optional = true }
serde = { version = "1.0", optional = true }
tokio = { version = "1", default-features = false, optional = true }
url = { version = "2.5", optional = true }

# optional dependencies
csv = { version = "1.3", optional = true }
ctor = { version = "0.2", optional = true }
pprof = { version = "0.13", features = ["flamegraph"], optional = true }
tracing = { version = "0.1", optional = true }
tracing-subscriber = { version = "0.3", features = ["env-filter"], optional = true }

# for local development
# [patch."https://github.com/scroll-tech/zkevm-circuits"]
# eth-types = { path = "../zkevm-circuits/eth-types" }
# mpt-zktrie = { path = "../zkevm-circuits/zktrie" }
# [patch."https://github.com/scroll-tech/revm"]
# revm = { path = "../revm/crates/revm" }

[dependencies.revm] # v40
git = "https://github.com/scroll-tech/revm"
branch = "scroll-evm-executor/feat/v40/sp1"
default-features = false
features = [
    "scroll-default-handler",
    "scroll-poseidon-codehash",
    "std",
    "optional_no_base_fee"
]

[dev-dependencies]
aggregator = { git = "https://github.com/scroll-tech/zkevm-circuits", branch = "feat/rkyv" }
#aggregator = { path = "../zkevm-circuits/aggregator" }
serde = { version = "1.0" }
serde_json = { version = "1.0" }

[[bin]]
name = "stateless-block-verifier"
path = "src/bin/trace-verifier/main.rs"
required-features = ["bin-deps"]

[features]
bin-deps = [
    "anyhow",
    "async-channel",
    "clap",
    "clap/derive",
    "env_logger",
    "ethers-core",
    "ethers-core/scroll",
    "ethers-providers",
    "futures",
    "serde_json",
    "serde",
    "serde/derive",
    "tokio",
    "tokio/fs",
    "tokio/macros",
    "tokio/rt-multi-thread",
    "url"
]
profiling = ["pprof"]
debug-account = ["csv", "revm/serde"]
debug-storage = ["csv", "revm/serde"]
dev = ["ctor", "tracing", "tracing-subscriber"]

# sp1 related
sp1 = []
cycle-tracker = []
ordered-db = ["revm/ordered-cache-db"]

[patch.crates-io]
ethers-core = { git = "https://github.com/scroll-tech/ethers-rs.git", branch = "feat/rkyv" }
ethers-signers  = { git = "https://github.com/scroll-tech/ethers-rs.git", branch = "feat/rkyv" }
ff = { git = "https://github.com/scroll-tech/ff", branch = "feat/sp1" }
alloy-eips = { git = "https://github.com/scroll-tech/alloy.git", branch = "rustc-1.75" }
primitive-types = { git = "https://github.com/scroll-tech/parity-common.git", branch = "feat/rkyv" }
ethereum-types = { git = "https://github.com/scroll-tech/parity-common.git", branch = "feat/rkyv" }

# ethers-core = { path = "../ethers-rs/ethers-core" }
# ethers-providers = { path = "../ethers-rs/ethers-providers" }
# ethers = { path = "../ethers-rs/ethers" }
# ethers-etherscan = { path = "../ethers-rs/ethers-etherscan" }
# ethers-signers  = { path = "../ethers-rs/ethers-signers" }
# primitive-types = { path = "../parity-common/primitive-types" }
# ethereum-types = { path = "../parity-common/ethereum-types" }

[patch."https://github.com/privacy-scaling-explorations/halo2.git"]
halo2_proofs = { git = "https://github.com/scroll-tech/halo2.git", branch = "v1.1" }

[patch."https://github.com/scroll-tech/poseidon-circuit.git"]
poseidon-base = { git = "https://github.com/scroll-tech//poseidon-circuit", branch = "feat/sp1" }
hash-circuit = { package = "poseidon-circuit", git = "https://github.com/scroll-tech//poseidon-circuit", branch = "feat/sp1" }

[profile.release]
debug-assertions = true
