[package]
name = "stateless-block-verifier"
version = "0.1.0"
edition = "2021"

[dependencies]
log = "0.4"
hex = "0.4"
eth-types = { git = "https://github.com/scroll-tech/zkevm-circuits", features = ["scroll"], branch = "develop" }
mpt-zktrie = { git = "https://github.com/scroll-tech/zkevm-circuits", branch = "develop" }
revm = { git = "https://github.com/scroll-tech/revm", branch = "scroll-evm-executor/v36" , default-features = false, features = ["scroll-default-handler", "std", "optional_no_base_fee"] } # v36
zktrie = { git = "https://github.com/scroll-tech/zktrie.git", branch = "main", features= ["rs_zktrie"] }

# for local development
#eth-types = { path = "../zkevm-circuits/eth-types", features = ["scroll"] }
#mpt-zktrie = { path = "../zkevm-circuits/zktrie" }
#revm = {path = "../revm/crates/revm", default-features = false, features = ["scroll-default-handler", "std", "optional_no_base_fee"] } # v36

# binary dependencies
anyhow = { version = "1.0", optional = true }
async-channel = { version = "2.2", optional = true }
clap = { version = "4", optional = true }
env_logger = { version = "0.9", optional = true }
ethers-core = { git = "https://github.com/scroll-tech/ethers-rs.git", branch = "v2.0.7", optional = true }
ethers-providers = { git = "https://github.com/scroll-tech/ethers-rs.git", branch = "v2.0.7", default-features = false, optional = true }
futures = { version = "0.3", optional = true }
url = { version = "2.5", optional = true }
serde_json = { version = "1.0", optional = true }
serde = { version = "1.0", optional = true }
tokio = { version = "1", default-features = false, optional = true }

# optional
csv = { version = "1.3", optional = true }
pprof = { version = "0.13", features = ["flamegraph"], optional = true }

# for local development
# [patch."https://github.com/scroll-tech/zkevm-circuits"]
# eth-types = { path = "../zkevm-circuits/eth-types" }
# mpt-zktrie = { path = "../zkevm-circuits/zktrie" }
# [patch."https://github.com/scroll-tech/revm"]
# revm = { path = "../revm/crates/revm" }

[[bin]]
name = "stateless-block-verifier"
path = "src/bin/trace-verifier/main.rs"
required-features = ["bin-deps"]

[features]
bin-deps = [
    "anyhow",
    "async-channel",
    "clap",
    "clap/derive",
    "env_logger",
    "ethers-core",
    "ethers-core/scroll",
    "ethers-providers",
    "futures",
    "url",
    "serde_json",
    "serde",
    "serde/derive",
    "tokio",
    "tokio/fs",
    "tokio/macros",
    "tokio/rt-multi-thread"
]
profiling = ["pprof"]
debug-account = ["csv", "revm/serde"]
debug-storage = ["csv", "revm/serde"]

[patch.crates-io]
ethers-core = { git = "https://github.com/scroll-tech/ethers-rs.git", branch = "v2.0.7" }
ethers-providers = { git = "https://github.com/scroll-tech/ethers-rs.git", branch = "v2.0.7" }
ethers-signers  = { git = "https://github.com/scroll-tech/ethers-rs.git", branch = "v2.0.7" }
halo2curves = { git = "https://github.com/scroll-tech/halo2curves", branch = "v0.1.0" }

[patch."https://github.com/privacy-scaling-explorations/bls12_381"]
bls12_381 = { git = "https://github.com/scroll-tech/bls12_381", branch = "feat/impl_scalar_field" }

[profile.release]
debug-assertions = true
