[workspace]
members = [
    "crates/bin",
    "crates/core",
    "crates/helpers",
    "crates/kv",
    "crates/primitives",
    "crates/sbv",
    "crates/trie",
    "crates/utils",
]
resolver = "2"

[workspace.package]
version = "2.0.0"
edition = "2021"
rust-version = "1.81"
authors = ["Scroll developers"]
license = "MIT OR Apache-2.0"
homepage = "https://github.com/scroll-tech/stateless-block-verifier"
repository = "https://github.com/scroll-tech/stateless-block-verifier"

[workspace.dependencies]
# https://github.com/alloy-rs/alloy
alloy = { version = "0.11", default-features = false }
alloy-consensus = { version = "0.11", default-features = false }
alloy-eips = { version = "0.11", default-features = false }
alloy-provider = { version = "0.11", default-features = false }
alloy-rpc-types-eth = { version = "0.11", default-features = false }
alloy-serde = { version = "0.11", default-features = false }
alloy-transport = { version = "0.11", default-features = false }
# https://github.com/alloy-rs/rlp
alloy-rlp = { version = "0.3", default-features = false }
# https://github.com/alloy-rs/trie
alloy-trie = { version = "0.7", default-features = false }
# https://github.com/alloy-rs/core
alloy-primitives = { version = "0.8", default-features = false, features = ["map-hashbrown", "map-fxhash", "rkyv"] }

reth-chainspec = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
reth-evm = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
reth-evm-ethereum = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
reth-execution-types = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
reth-primitives = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
reth-primitives-traits = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
reth-scroll-chainspec = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
reth-scroll-evm = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
reth-scroll-primitives = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
reth-storage-errors = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
reth-trie = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
reth-trie-sparse = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }
scroll-alloy-consensus = { git = "https://github.com/scroll-tech/reth", branch = "scroll", default-features = false }

#reth-chainspec = { path = "../reth/crates/chainspec", default-features = false }
#reth-evm = { path = "../reth/crates/evm/", default-features = false }
#reth-evm-ethereum = { path = "../reth/crates/ethereum/evm", default-features = false }
#reth-execution-types = { path = "../reth/crates/evm/execution-types", default-features = false }
#reth-primitives = { path = "../reth/crates/primitives", default-features = false }
#reth-scroll-chainspec = { path = "../reth/crates/scroll/chainspec", default-features = false }
#reth-scroll-evm = { path = "../reth/crates/scroll/evm", default-features = false }
#reth-scroll-primitives = { path = "../reth/crates/scroll/primitives", default-features = false }
#reth-storage-errors = { path = "../reth/crates/storage/errors", default-features = false }
#reth-trie = { path = "../reth/crates/trie/trie", default-features = false }
#reth-trie-sparse = { path = "../reth/crates/trie/sparse", default-features = false }

async-trait = "0.1"
auto_impl = "1.2"
console = "0.15"
hashbrown = { version = "0.15", default-features = false }
indicatif = "0.17"
itertools = "0.14"
once_cell = "1.19"
rkyv = "0.8"
rustc-hash = "2.1"
thiserror = "1.0"
tiny-keccak = "2.0"
tower = "0.5"
url = ">=2.5.3"

# binary dependencies
anyhow = "1.0"
clap = "4"
futures = "0.3"
serde = "1.0"
serde_json = "1.0"
serde_path_to_error = "0.1"
tokio = { version = "1", default-features = false }

# optional dependencies
csv = "1.3"
ctor = "0.2"
hyper = { version = "1.4", features = ["server", "http1"] }
hyper-util = { version = "0.1", features = ["tokio"] }
http-body-util = "0.1"
prometheus-client = "0.22"
pprof = { version = "0.13", features = ["flamegraph"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

# dev dependencies
rand = "0.8"
reqwest = "0.12"

# workspace
sbv = { path = "crates/sbv" }
sbv-core = { path = "crates/core" }
sbv-kv = { path = "crates/kv" }
sbv-primitives = { path = "crates/primitives" }
sbv-trie = { path = "crates/trie" }
sbv-helpers = { path = "crates/helpers" }
sbv-utils = { path = "crates/utils" }

[workspace.dependencies.revm]
git = "https://github.com/scroll-tech/revm"
branch = "scroll-evm-executor/v55"
default-features = false
features = ["std"]

[workspace.lints.rust]
missing-docs = "deny"
missing-debug-implementations = "deny"

[patch.crates-io]
# patched add rkyv support & MSRV 1.77
ruint = { git = "https://github.com/scroll-tech/uint.git", branch = "v1.12.3" }

alloy-primitives = { git = "https://github.com/scroll-tech/alloy-core", branch = "v0.8.18" }

revm = { git = "https://github.com/scroll-tech/revm", branch = "scroll-evm-executor/v55" }
revm-interpreter = { git = "https://github.com/scroll-tech/revm", branch = "scroll-evm-executor/v55" }
revm-precompile = { git = "https://github.com/scroll-tech/revm", branch = "scroll-evm-executor/v55" }
revm-primitives = { git = "https://github.com/scroll-tech/revm", branch = "scroll-evm-executor/v55" }

# for local development
# [patch."https://github.com/scroll-tech/revm"]
# revm = { path = "../revm/crates/revm" }
# revm-primitives = { path = "../revm/crates/primitives" }
# [patch."https://github.com/scroll-tech/reth"]
# reth-chainspec = { path = "../reth/crates/chainspec" }
# reth-evm = { path = "../reth/crates/evm" }
# reth-evm-ethereum = { path = "../reth/crates/ethereum/evm" }
# reth-execution-types = { path = "../reth/crates/evm/execution-types" }
# reth-primitives = { path = "../reth/crates/primitives" }
# #reth-scroll-primitives = { path = "../reth/crates/" }
# reth-storage-errors = { path = "../reth/crates/storage/errors" }
# reth-trie = { path = "../reth/crates/trie/trie" }
# reth-trie-sparse = { path = "../reth/crates/trie/sparse" }

#[profile.release]
#debug-assertions = true
