[package]
name = "stateless-block-verifier"
homepage = "https://github.com/scroll-tech/stateless-block-verifier/tree/master/crates/bin"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
alloy = { workspace = true, features = ["provider-http", "transport-http"] }
anyhow.workspace = true
async-channel.workspace = true
clap = { workspace = true, features = ["derive"] }
futures.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
serde_path_to_error.workspace = true
tokio = { workspace = true, features = ["fs", "io-util", "macros", "rt-multi-thread", "sync", "time"] }
url.workspace = true

sbv.workspace = true

pprof = { workspace = true, optional = true }
tracing-subscriber = { workspace = true, optional = true }

[dev-dependencies]
tracing.workspace = true
tracing-subscriber.workspace = true

[features]
default = ["dev"]
dev = ["sbv/dev", "dep:tracing-subscriber"]
debug-account = ["sbv/debug-account"]
debug-storage = ["sbv/debug-storage"]
profiling = ["dep:pprof"]
scroll = ["sbv/scroll"]
metrics = ["sbv/metrics"]