[package]
name = "sbv-primitives"
homepage = "https://github.com/scroll-tech/stateless-block-verifier/tree/master/crates/primitives"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
alloy = { workspace = true, features = ["consensus", "eips", "k256", "rlp", "rkyv", "rpc-types", "serde"] }
rkyv.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_with.workspace = true
tiny-keccak.workspace = true

sbv-utils.workspace = true

poseidon-bn254.workspace = true
zktrie-ng.workspace = true

[dev-dependencies]
serde_json.workspace = true

[features]
dev = ["sbv-utils/dev"]
sled = ["zktrie-ng/sled"]