[package]
name = "sbv-utils"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
revm.workspace = true

mpt-zktrie = { workspace = true, optional = true }

csv = { workspace = true, optional = true }
hyper = { workspace = true, optional = true }
hyper-util = { workspace = true, optional = true }
http-body-util = { workspace = true, optional = true }
once_cell = { workspace = true, optional = true }
prometheus-client = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
tracing = { workspace = true, optional = true }

[dev-dependencies]
rand.workspace = true
reqwest.workspace = true

[features]
debug-account = ["dep:csv", "dep:mpt-zktrie", "dep:serde", "revm/serde"]
debug-storage = ["dep:csv", "dep:mpt-zktrie", "dep:serde", "revm/serde"]
dev = ["dep:tracing"]
metrics = ["dep:hyper", "dep:hyper-util", "dep:http-body-util", "dep:once_cell", "dep:prometheus-client", "dep:tokio", "tokio/macros", "tokio/signal"]