name: CI

on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review]
  push:
    branches:
      - master

env:
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: git

jobs:
  skip_check:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          cancel_others: 'true'
          concurrent_skipping: 'same_content_newer'
          paths_ignore: '["**/README.md"]'

  fmt:
    needs: [ skip_check ]
    if: |
      github.event.pull_request.draft == false &&
      (github.event.action == 'ready_for_review' || needs.skip_check.outputs.should_skip != 'true')
    name: Rustfmt
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "nightly"
          components: rustfmt
      - name: Cargo fmt
        run: cargo +nightly fmt --all -- --check

  clippy:
    needs: [ fmt ]
    if: |
      github.event.pull_request.draft == false &&
      (github.event.action == 'ready_for_review' || needs.skip_check.outputs.should_skip != 'true')
    name: Clippy
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "1.87"
          components: clippy
      - name: cargo cache
        uses: Swatinem/rust-cache@v2
      - name: clippy default
        run: cargo clippy --workspace -- -D warnings
      - name: clippy dev
        run: cargo clippy --workspace --features dev -- -D warnings
      - name: clippy metrics
        run: cargo clippy --workspace --features metrics -- -D warnings
      - name: clippy scroll
        run: cargo clippy --workspace --features scroll -- -D warnings
      - name: clippy all
        run: cargo clippy --workspace --all-features -- -D warnings
      - name: clippy test
        run: cargo clippy --workspace --tests -- -D warnings
      - name: clippy test scroll
        run: cargo clippy --workspace --tests --features scroll -- -D warnings
      - name: clippy test all
        run: cargo clippy --workspace --tests --all-features -- -D warnings

  test:
    needs: [ clippy ]
    if: |
      github.event.pull_request.draft == false &&
      (github.event.action == 'ready_for_review' || needs.skip_check.outputs.should_skip != 'true')
    name: Tests
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "1.87"
      - name: cargo cache
        uses: Swatinem/rust-cache@v2
      - name: run tests
        run: cargo test --workspace --all-features -- --nocapture
